<!DOCTYPE html>
<html>
    <head>
        <title>GearTalk</title>
    </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <body>
        <header>
            <h2>GearTalk</h2>
            <nav>
                
                <li><a href="/posts">Home</a></li>
                <% if (!currentUser){ %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                <% } else { %>
                    <li><a href="#">Signed in as <%= currentUser.username %></a></li>
                    <li><a href="posts/new">New Post</a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } %>
            </nav>
        </header>
